#instantclick-bar {
    background: #000
}

.downline-content {
    background-color: white;
}

.sidebar-menu li.active>.treeview-menu {
    display: block!important
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 3px;
}

.downline-content {
    overflow: scroll;
}